{% extends "layout.html" %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/artistPage.css' %}"
/>
<div class="">
  <section is="addArtist">
    <form action="." method="post" class="from-horizontal">
      {% csrf_token %}
      <h1 class="margin">Add artist</h1>
      <hr />
      <div class="form-group">
        {{ form.name.label_tag }} {{ form.name }}
        <br />
        {{ form.description.label_tag }} {{ form.description }}
        <br />
        {{ form.image.label_tag }} {{ form.image }}
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Submit" class="btn-group" />
        </div>
      </div>
    </form>
  </section>
</div>
{% endblock %}
