{% extends "layout.html" %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/adminPage.css' %}"
/>
<div>
  <h1>Admin Panel</h1>
  <h2>Songs</h2>
  <div class="tasks">
    <a class="btn" href="{% url 'addMusic' %}">Add</a>
    <a class="btn" href="">Delete</a>
    <a class="btn" href="">Update</a>
  </div>
  <hr />
  <h2>Artists</h2>
  <div class="tasks">
    <a class="btn" href="{% url 'addArtist' %}">Add</a>
    <a class="btn" href="">Delete</a>
    <a class="btn" href="">Update</a>
  </div>
  <hr />
  <h2>Bands</h2>
  <div class="tasks">
    <a class="btn" href="">Add</a>
    <a class="btn" href="">Delete</a>
    <a class="btn" href="">Update</a>
  </div>
  <hr />
</div>

{% endblock %}
