{% extends "layout.html" %} {% block content %} {% load static %}
<div class="header">
  <h1 class="margin">Welcome to our Music Streaming Web App</h1>
  <form class="form" method="get">
    {{ form }}
    <input class="btn" type="submit" value="Search" />
  </form>
</div>
<div class="container margin">
  {% for song in songs %}
  <div class="songlist">
    <div class="songitem">
      <img src="{{ song.image.url }}" alt="1" />
      <span class="songName"> {{ song.name }}</span>
      <span class="songPerformer"> {{ song.performer.name }} </span>
      <span class="songlistplay"
        ><i
          id="1"
          class="far songItemPlay fa-play-circle"
          data-song-url="{{ song.audio_file.url }}"
        ></i
      ></span>
    </div>
  </div>
  {% endfor %}
</div>
<div class="bottom margin">
  <input type="range" name="range" id="ProgressBar" min="0" max="100" />
  <div class="songinfo-container">
    <div class="songinfo">
      <img
        src="{% static 'images/playing.gif' %}"
        width="45px"
        alt=""
        id="gif"
      />
      <span id="masterSongName"></span>
    </div>
    <div class="icon">
      <i class="fas fa-2x fa-step-backward" id="previous"></i>
      <i class="far fa-2x fa-play-circle" id="masterPlay"></i>
      <i class="fas fa-2x fa-step-forward" id="next"></i>
    </div>
  </div>
</div>
{% endblock %}
