{% extends "layout.html" %} {% block content %} {% load static %}
<script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
<script>
  // AJAX call to django
  function addMusicToQueue(music_id) {
    $.ajax({
      url: '{% url "addMusicToQueue" %}',
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        music_id: music_id,
      },
      method: "POST",
      success: function (response) {
        if (response.success === true) {
          let successMessages = $("#successMessages");
          successMessages.animate({ opacity: 1 });
          setTimeout(function () {
            successMessages.animate({ opacity: 0 });
          }, 2000);
        }
      },
    });
  }
</script>
<div class="header_tp flex flex-row justify-between items-center">
  <h1 class="margin">Welcome to our Music Streaming Web App</h1>
  {% load crispy_forms_tags %}
  <form class="search-container" method="post">
    {% csrf_token %} {{ form|crispy }}
    <button class="btn btn-outline" type="submit">Search</button>
  </form>
</div>
<div class="alert alert-success" id="successMessages" style="opacity: 0">
  <span>Your Music Has Been Added to the Queue!</span>
</div>
{% for genre, songs in songs_by_genre.items %}
<h2 class="margin">{{ genre }}</h2>
<hr />
<div class="container_tp margin">
  {% for song in songs %}
  <div class="card_tp bg-base-100 shadow-xl">
    <div class="songlist_tp">
      <div class="songitem_tp image-full">
        <img class="image_tp" src="{{ song.image.url }}" alt="1" />
        <span class="songName card-title"> {{ song.name }}</span>
        <span class="songPerformer m-5"> <a href="{% url 'artist_info' song.performer.name %}">{{ song.performer.name }}</a> </span>
        <div class="card-actions justify-end">
          <span class="songlistplay"
            ><i
              id="1"
              class="far songItemPlay fa-play-circle"
              data-song-url="{{ song.audio_file.url }}"
            ></i
          ></span>
          <span class="addToQueue" onclick="addMusicToQueue('{{ song.id }}')"
            ><i class="fa fa-cloud-download"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
<div class="bottom_tp margin">
  <input type="range" name="range" id="ProgressBar" min="0" max="100" />
  <div class="songinfo-container_tp">
    <div class="songinfo_tp">
      <img
        src="{% static 'images/playing.gif' %}"
        width="45px"
        alt=""
        id="gif"
      />
      <span id="masterSongName"></span>
    </div>
    <div class="icon">
      <i class="fas fa-2x fa-step-backward" id="previous"></i>
      <i class="far fa-2x fa-play-circle" id="masterPlay"></i>
      <i class="fas fa-2x fa-step-forward" id="next"></i>
    </div>
  </div>
</div>
{% endblock %}
