<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify - Music On The Go</title>

    {% load static %}
    {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
</head>
<body>
    <div class="main">
        <a href="/"><label class="brand"><img src="{% static 'images/logo.png' %}" />Spotify</label></a>
        {% if SignUpForm.errors %}
        <input type="checkbox" id="chk" aria-hidden="true"/> <!--SIGNIN-->
        {% else %}
        <input type="checkbox" id="chk" aria-hidden="true" checked/> <!--LOGIN-->
        {% endif %}

        <div class="singup">
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <label for="chk" aria-hidden="true" style="margin: 30px;">Sign up</label>
                {{ SignUpForm.email }}
                {{ SignUpForm.username }}
                {{ SignUpForm.password1 }}
                {{ SignUpForm.password2 }}
                <button class="button" type="submit">Sign up</button>
            </form>
        </div>

      <div class="login">
        <form action="{% url 'login_signup' %}" method="post">
          {% csrf_token %}
          <label for="chk" aria-hidden="true">Log in</label>
          <div>{{ form.username }}</div>
          <div>{{ form.password }}</div>
          <button class="button" type="submit">Log in</button>
        </form>
      </div>
    </div>
  </body>
</html>

{% endblock %}
