<app-error-display [error_messages]="submit_errors"></app-error-display>
<div class="">
  <section id="add_edit_Genre">
    <ng-template #bandAction>{{ id ? 'Edit Band' : 'Add Band' }}</ng-template>

    <h1 class="margin"><ng-container *ngTemplateOutlet="bandAction"></ng-container></h1>
    <form [formGroup]="addBandForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <hr />
      <div class="form-group mt-[30px]">
        <label>Name</label>
        <br />
        <input type="text" placeholder="Name" class="input w-full max-w-3xl mb-[30px] mt-[3px]"  formControlName="name"/>
        <br />
        <label>Description</label>
        <br />
        <input type="text" placeholder="Description" class="input w-full max-w-3xl mb-[30px] mt-[3px]"  formControlName="description"/>
        <br />
        <label>Image</label>
        <br />
        <input type="file" class="file-input file-input-bordered w-full max-w-lg mb-[30px]" (change)="onFileChange($event)"/>
        <br />
        <label>Members</label>
        <br />
        <div class="form-control max-w-xs" *ngFor="let member of members.controls; let i = index">
          <label class="label cursor-pointer">
            <span class="label-text">{{ artists[i].name }}</span>
            <input type="checkbox" checked="checked" class="checkbox" [formControl]="getMemberFormControl(i)"/>
          </label>
        </div>
        <br />
      </div>
      <div >
        <button class="btn btn-primary" type="submit"><ng-container *ngTemplateOutlet="bandAction"></ng-container></button>
      </div>
    </form>
  </section>
</div>
