<div class="">
  <section id="add_edit_Genre">
    <h1 class="margin" *ngIf="id != null" >Edit Band</h1>
    <h1 class="margin" *ngIf="id == null" >Add Band</h1>
    <form [formGroup]="addBandForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <hr />
      <div class="form-group mt-[30px]">
        <label>Name</label>
        <br />
        <input type="text" placeholder="Name" class="input w-full max-w-3xl mb-[30px] mt-[3px]"  formControlName="name"/>
        <br />
        <label>Description</label>
        <br />
        <input type="text" placeholder="Description" class="input w-full max-w-3xl mb-[30px] mt-[3px]"  formControlName="description"/>
        <br />
        <label>Image</label>
        <br />
        <input type="file" class="file-input file-input-bordered w-full max-w-lg mb-[30px]" (change)="onFileChange($event)"/>
        <br />
        <label>Members</label>
        <br />
        <div class="form-control max-w-xs" *ngFor="let member of members.controls; let i = index">
          <label class="label cursor-pointer">
            <span class="label-text">{{ artists[i].name }}</span> 
            <input type="checkbox" checked="checked" class="checkbox" [formControl]="getMemberFormControl(i)"/>
          </label>
        </div>
        <br />
      </div>
      <div >
        <button *ngIf="id == null" class="btn btn-primary" type="submit">Add Band</button>
        <button *ngIf="id != null" class="btn btn-primary" type="submit">Edit Band</button>
      </div>
    </form>
  </section>
</div>
