<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h1 style="font-weight: bolder; font-size: larger; padding-bottom: 10px">Sign Up errors</h1>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
<script>
  my_modal_1.showModal();
</script>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h1 style="font-weight: bolder; font-size: larger; padding-bottom: 10px" > 'Login errors: '</h1>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
<script>
  my_modal_1.showModal();
</script>

<div class="main_ia">
  <a href="/">
    <label class="brand_tp"><img src="/assets/images/logo.png" />Music Streaming</label>
  </a>
  <input type="checkbox" id="chk" aria-hidden="true" />
  <!--SIGNIN-->
  <input type="checkbox" id="chk" aria-hidden="true" checked />
  <!--LOGIN-->

  <div class="singup_tp">
    <form action="" method="post">
      <label for="chk" aria-hidden="true" style="margin: 10px">Sign up</label>
      <button class="button_tp" type="submit">Sign up</button>
    </form>
  </div>

  <div class="login_tp">
    <form action="" method="post">
      <label for="chk" aria-hidden="true">Log in</label>
      <button class="button_tp" type="submit">Log in</button>
    </form>
  </div>
</div>

