
<div>
  <h1>Admin Panel</h1>
  <h2>Songs</h2>
  <div class="tasks">
    <a class="btn_tp" routeLink="">Add</a>
    <a class="btn_tp" routeLink="">All Songs</a>
  </div>
  <hr />
  <h2>Genre</h2>
  <div class="tasks">
    <a class="btn_tp" routeLink="">Add</a>
    <a class="btn_tp" routeLink="">All Genres</a>
  </div>
  <hr />
  <h2>Albuns</h2>
  <div class="tasks">
    <a class="btn_tp" routeLink="">Add</a>
    <a class="btn_tp" routeLink="">All Albuns</a>
  </div>
  <hr />
  <h2>Artists</h2>
  <div class="tasks">
    <a class="btn_tp" routeLink="">Add</a>
    <a class="btn_tp" routeLink="">All Artists</a>
  </div>
  <hr />
  <h2>Bands</h2>
  <div class="tasks">
    <a class="btn_tp" routeLink="">Add</a>
    <a class="btn_tp" routeLink="">All Bands</a>
  </div>
  <hr />
</div>

