<div class="flex flex-row justify between relative pl-5">
  <h1 class="font-bold">Welcome to our Music Streaming Web App</h1>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-row absolute right-5 top-5">
      <input
        type="text"
        formControlName="searchQuery"
        placeholder="Search for a song"
        class="input input-ghost w-full max-w-xs"
      />
      <button type="submit" class="btn btn-outline">Search</button>
    </div>
  </form>
</div>
<div class="mb-[150px]">
  <div *ngIf="(getObjectSize(searchResult) !== 0 && searchResult) || (getObjectSize(searchResult) === 0 && musicsByGenre)">
    <h2 class="font-regular" *ngIf="getObjectSize(searchResult) !== 0">
      Searched for "<span class="font-bold">{{ searchForm.value.searchQuery }}</span>"
    </h2>
    <div *ngFor="let item of ( (getObjectSize(searchResult) !== 0) ? searchResult : musicsByGenre ) | keyvalue">
      <h1>{{ item.key }}</h1>
      <hr />
      <div class="display flex flex-wrap pt-5">
        <div *ngFor="let song of item.value">
          <div class="card w-96 bg-base-100 shadow-xl m-5">
            <div>
              <figure><img [src]="'http://localhost:8000/' + song.image" class="object-right-top object-cover h-72 w-full rounded-tr-xl rounded-tl-xl" alt="musicCover"/></figure>
            </div>
            <div class="card-body w-96 text-center">
              <h2 class="text-center songName">{{ song.name }}</h2>
              <h3 class="text-lg songPerformer"><a routerLink="artistDetails/{{ song.performer }}">{{ getName(song.performer) }}</a></h3>
              <div class="text-lg space-x-3 flex flex-row justify-center">
                <button class="songlistplay" (click)="playSong(song)">
                  <i id="1" class="far songItemPlay fa-play-circle"></i>
                </button>
                <button>
                  <i class="fa-solid fa-heart" style="color: #c10bbb;"></i> {{ song.likes.length }}
                </button>
                <button>
                  <i class="fa-solid fa-cloud-arrow-down"></i>
                </button>
                <button onclick="document.getElementById('modalAddToPlaylist').show()" (click)="currentMusicName = song.name; currentMusicId = song.id">
                  <i class="fa-solid fa-square-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<dialog id="modalAddToPlaylist" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="font-bold text-lg">Playlists</h3>
    <hr />
    <div style="max-height: 400px; overflow-y: auto">
      <table class="table ml-0 text-lg" id="playlistMusics">
        <thead>
        <tr class="text-lg">
          <th></th>
          <th>Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let playlist of playlists" class="text-lg" >
          <th>{{playlist.id}}</th>
          <th>{{playlist.name}}</th>
          <td>
            <button>
              <i class="fa fa-plus-square-o" (click)="addMusicToPlaylist(currentMusicId, playlist.id)"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-action">
      <button
        class="btn btn-active btn-primary"
        onclick="document.getElementById('modalCreatePlaylist').show()"
      >
        New playlist
      </button>
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>

<dialog id="modalCreatePlaylist" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="font-bold text-lg">Create a new playlist</h3>
    <hr />
    <form [formGroup]="createPlaylistForm" (ngSubmit)="onSubmitCreatePlaylist()">
      <div class="form-control" >
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        <input
          type="text"
          placeholder="Playlist name"
          class="input input-bordered"
          formControlName="name"
        />
      </div>
      <div class="modal-action">
        <button class="btn btn-active btn-primary" type="submit" >Create</button>
        <form method="dialog">
          <button class="btn">Close</button>
        </form>
      </div>
    </form>
  </div>
</dialog>
<app-playbar></app-playbar>
